.new-tweet {
  padding-top: 20px;
  width: 100%;
}

.tweet-form {
  background: transparent;
}

.flags {
  display: none;
}

button {
  color: white;
  background-color: #4056A1 ;
  font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

button:hover {
  transform: scale(1.1);
}

#underText {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  border: transparent;
  background: transparent;
  border-bottom: black solid;
  width: 100%;
}

.lessThan0 {
  color: red;
}

#posted-tweets {
  display: flex;
  width: 100%;
  font-size: 16px;
  margin-top: 60px;
  flex-direction: column;
}

article {
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/black-scales.png"); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  border: black solid;
  opacity: 0.5;
}

#top-of-tweet {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.article-content {
  display: flex;
  justify-content: flex-start;
  font-family: cursive;
  width: 100%;
  margin: 10px;
}

.article-footer {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  border-top: black solid;
  margin-left: 10px;
  margin-right: 10px;
}


.tweet-Avatar {
  height: 50px;
}

.tweet-user {
  display: none;
}
article:hover {
  border-radius: 2%;
  opacity: 1;
  box-shadow: 4px 4px;
  transform: scale(1.01);
  border: 2px solid #00b554;
}

article:hover .tweet-user {
  display: block;
}

article:hover .flags {
  display: block;
}

.hidden {
  display: none;
  color: red;
}

@media only screen and (min-width: 1024px) {
body {
  display: flex;
  flex-direction: row;
  /* padding-top: 150px;
  padding-bottom: 150px; */
  margin: 50px;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  width: 55%;
  padding:0 ;
  padding-top: 100px;
}

#headerTop {
  height: 30%;
  width: 40%;
  position: sticky;
  top: 20px;
}

#avatar-and-name {
  display: flex;
  align-items: center;
}

.navElements {
  position: 0;
}

}

@media only screen and (max-width: 1023px) {
  .navElements {
  background-color: #00b554;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  }

  #headerTop {
    border-radius: 0%;
    height: 300px;
  }
}
